node_modules/
*/node_modules/
target/
*/target/
build/
*/build/

*.iml
.idea

# vim
*.swp

# don't check in gitana.json files
gitana.json
gitana.json*
*/gitana.json

composer.lock
composer.phar

customer.*

sessions
sessions/*.json

*.temp
_temp

target

# license files
*.lic

# local binary
.DS_Store

_old

package-lock.json